.gray {
    background-color: lightgray;
    
}

.invis {
    visibility: hidden;
    display: none;
    /* display: none; */
}

.visi {
    visibility: visible;
    display: block;
}

/*
.local-msg {
    width: 50%;
    height: 50%;
}
*/